@import "src/index";

.input_section form {
  display: flex;
  background-color: $color1;
  padding:16px;
  height: 32px;

  div:has(input[type="text"]) {
    margin-right: 8px;
    font-size: 16px;
    flex: 10;
    input[type="text"] {
      width: 100%;
      background-color: $color0;
      color: $color1;
    }
    input[type="text"]:focus {
      outline: none;
    }
  }

  svg {
    transform: scale(0.7);
  }

  div:has(button) {
    flex: 1;
    align-self: center;
  }

}

@media screen and (max-width: 900px) {
  button {
    font-size: 0;
  }
}