@import "src/index";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    > div {
      display: flex;
      justify-content: center;

      label {
        flex: 2;
        font-size: 16px;
      }
      input {
        flex: 5;
        height: 24px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 900px){
  .container {
    width: 100%;
  }
}