@import "../../../index";

.container {
  display: flex;
  gap: 20px;

  > form {
    display: flex;
    flex-direction: column;
    > * {
      min-width: 100px;
    }

    label {
      padding: 4px 8px;
      background-color: $color1;
      color: $color0;
      text-align: center;
      &:hover {
        background-color: mix($color1,$color5);
        cursor: pointer;
      }
    }

    label > input {
      display: none;
    }

  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
