@import "src/index";

.container {
  display: flex;
  justify-content: center;
  padding: 16px;
  word-wrap: break-word;
  margin: auto!important;
  width: 100%;
  overflow: hidden;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    text-align: center;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;

      > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;

        > div {
          display: flex;
          flex-direction: column;
          gap: 16px;

          > div {
            flex: 2;

          }
        }

        label {
          flex: 2;
          font-size: 16px;
        }

        input {
          flex: 5;
          height: 24px;
          font-size: 16px;
          padding: 8px;
          border: solid 1px transparentize($color3, 0.6);
          box-shadow: 2px 2px 0 transparentize($color3, 0.6);
          border-radius: 8px;

          &:focus {
            outline: none;
            border-color: #0064b9;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px){
  .container {
    > div {
      width: 100%;
    }
  }
}