@import "src/index";

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  width: 100%;

  > div {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
  }

  img {
    width: 150px;
    height: 150px;
    background-color: mix($color3, $color2);
  }
}

.account_change_form {
  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  input {
    min-width: 200px;
    font-size: 16px;
    padding: 4px 8px;
  }

  div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.images_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.avatar_image {
  border-radius: 50%;
}

.change_image_button {
  &:hover {
    cursor: pointer;
    img {
      filter: brightness(0.7);
    }
    > span {
      opacity: 100%;
    }
  }

  div:has(img) {
    width: 150px;
    height: 150px;
    overflow: clip;
  }

  > span {
    transition: 0.1s;
    opacity: 0;
    margin-top: -85px;
    margin-left: 45px;
    color: $color4;
    position: absolute;
  }
}


@media screen and (max-width: 1000px) {
  .account_change_form {
    div {
      flex-direction: column;
    }
  }
}


