@import "src/index";

.container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 100%;
  padding: 20px;
  overflow: hidden;
}

.profile_image {
  height: 300px;
  overflow: clip;
}

.profile_image img {
  width: 100%;
  min-width: 100%;
  margin-top: -15%;
}

.user_image {
  width: 20%;
  margin-top: -100px;
  margin-left: 24px;
}

.user_image img {
  border: $color2 solid 8px;
  border-radius: 100%;
  width: 100%;
}

.user_name {
  font-size: 1.7rem;
  font-weight: 700;
  padding-inline: 24px;
}

.user_description {
  font-size: 0.9rem;
  color: $color3;
  padding-inline: 24px;
}

.post_creating_form {
  padding: 12px 24px;
}

.post_creating_form form {
  align-items: center;
  width: 100%;
  display: flex;
}

.post_creating_form textarea {
  flex: 10;
  height: 100px;
  font-size: 18px;
  background: none;
  resize: none;
}

.post_creating_form input[type="submit"] {
  background-color: $color1;
  height: 56px;
  margin-inline: 20px;
  font-size: 18px;
  color: $color2;
  flex: 1;
}

.post_creating_form input[type="submit"]:hover {
  cursor: pointer;
  background-color: $color2;
  border: $color1 2px solid;
  color: $color1;
}

.post_creating_form input[type="submit"]:active {
  background-color: $color4;
}