@import "src/index";

.current_dialog {
  display: flex;
  flex-direction: column;
  border-left: $color1 solid 1px;
  border-right: $color1 solid 1px;
  flex: 9
}

.message_list {
  flex: 10;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  height: 100%;
}
