@import "src/index";

.current_dialog {
  display: flex;
  max-width: calc(100% - 200px);
  flex-direction: column;
  flex: 9;
}

@media screen and (max-width: 1000px){
  .current_dialog {
    max-width: 100%;
  }
}