@import "../../../index";


.post_creating_form {
  background-color: $color4;
  padding: 12px 24px;
}

.post_creating_form form {
  align-items: center;
  width: 100%;
  display: flex;
}

.post_creating_form textarea {
  flex: 10;
  font-size: 18px;
  background: none;
  resize: none;
}

.submit_button {
  max-width: 100px;
}

@media screen and (max-width: 900px){
}