@import "../../../index";


.post_creating_form {
  background-color: $color4;
  padding: 12px 24px;
  border: solid 1px transparentize($color3, 0.6);
  box-shadow: 2px 2px 0 transparentize($color3, 0.6);
  border-radius: 8px;
}

@media screen and (max-width: 900px){
  .post_creating_form {
    border-inline: none;
  }
}