@import "../../../index";


.post_creating_form {
  background-color: $color4;
  padding: 12px 24px;
}

.post_creating_form form {
  align-items: center;
  width: 100%;
  display: flex;
}

.post_creating_form div:has(textarea) {
  flex: 10;
  font-size: 18px;

  textarea {
    width: 100%;
    background: none;
    resize: none;
  }
}

@media screen and (max-width: 900px){
}