@import "src/index";

.container {
  display: flex;
  width: 100%;
  align-items: start;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.container div {
  flex: 1 200px;
  max-width: 200px;
  height: 200px;
  text-align: center;
  background: $color1;
}