@import "src/index";

.navigation {
  min-width: 20%;
  display: flex;
  background: $color1;
  flex-direction: column;
}

.navigation a {
  font-size: 1.1rem;
  height: 1.5rem;
  display: block;
  padding: 5px;
  margin-inline: 8px;
  background: $color4;
  color: $color0;
  text-decoration: none;
}

.active {
  font-weight: 700;
  background: $color5!important;
  box-shadow: 10px 0 0 $color4;
}

.navigation a:hover {
  background: $color5;
}

@media screen and (max-width: 900px){
  .navigation {
    min-width: 120px;
  }
}