@import "src/index";

.container {
  display: flex;
  flex-direction: column;
  background-color: $color4;
  padding-bottom: 16px;
}

.profile_image {
  height: 300px;
  overflow: clip;
}

.profile_image img {
  width: 100%;
  min-width: 100%;
  min-height: 660px;
  margin-top: -20%;
}

.user_image {
  margin-top: -100px;
  margin-left: 24px;
}

.user_image img {
  min-width: 160px;
  max-height: 160px;
  min-height: 160px;
  border: $color2 solid 8px;
  border-radius: 100%;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile_info {
  flex: 10;
  display: flex;
  padding-inline: 24px;
  flex-direction: column;
}

.user_name {
  font-size: 1.7rem;
  font-weight: 700;
}

.user_description {
  font-size: 0.9rem;
  color: $color3;
}
.profile_buttons {
  flex: 5;
  margin-top: -64px;
  padding: 8px;
  display: flex;
  white-space: nowrap;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 8px;

  .subscribed {
    background-color: $color3;
  }
}

@media screen and (max-width: 900px){
  .profile_image {
    height: 250px;
  }
  .profile_image img {
    margin-top: 0;
    min-height: 360px;
  }
  .user_image {
    width: 80px;
    margin-top: -70px;
  }
  .user_image img {
    border: $color2 solid 8px;
    border-radius: 100%;
    width: 150%;
  }

  .profile_info {
    flex: 12;
    min-width: 400px;
  }

  .profile_buttons {
    margin-top: 0;
    flex-wrap: wrap;
  }
}