@import "src/index";

.dialogs_list {
  flex: 3;
  min-width: 100px;
  max-width: 200px;
  border-right: $color1 1px solid;
  overflow-x: clip;
  gap: 8px;
  overflow-y: auto;
}

.hidden {
  display: block;
}

@media screen and (max-width: 900px){
  .hidden {
    display: none;
  }

  .dialogs_list {
    position: absolute;
    min-height: 100vh - $header-height;
    background-color: $color2;
  }
}