@import "src/index";

.header {
  min-height: $header-height;
  display: flex;
  position: fixed;
  margin-top: -$header-height;
  width: 75%;
  justify-content: space-between;
  background: $color1;
  z-index: 90;
  text-wrap: normal;
  overflow: hidden;

  > div:has(.hamburger_button) {
    display: none;
  }

  svg {
    min-width: 35px;
    min-height: 35px;
    transform: scale(0.5);
  }
}

.header > div {
  padding: 5px 20px;
  color: $color0;
}

.logo {
  font-size: x-large;
  line-height: 20px;
  font-weight: bold;
}

.search {
  width: 30%;
  input {
    width: 100%;
    transform: translateX(0);
    transition: 0.4s;
  }
}

.hamburger_button {
  max-width: 34px;
  padding: 12px;
  border: none;
  box-shadow: none;
  margin: 0;
  fill: $color0;
  svg {
    margin-top: -2px;
    transform: scale(0.9);
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px){
  header {
    > div:has(.hamburger_button)  {
      display: block!important;
    }
  }

  .header {
    width: 100%;
  }

  .search {
    input {
      width: 0;
      transform: translateX(1000px);
    }
  }
}