.header {
  height: 15%;
  display: flex;
  justify-content: space-between;
  background: coral;
  padding: 0 20px;
  z-index: 90;
}

.header div {
  padding: 5px;
  color: white;
}

.logo {
  font-size: x-large;
  line-height: 20px;
  font-weight: bold;
}