@import "src/index";

.header {
  min-height: $header-height;
  display: flex;
  justify-content: space-between;
  background: $color1;
  padding: 0 20px;
  z-index: 90;
  text-wrap: normal;
}

.header div {
  padding: 5px;
  color: $color0;
}

.logo {
  font-size: x-large;
  line-height: 20px;
  font-weight: bold;
}

.hamburger_button {
  display: none;
  fill: $color0;
  margin-left: -20px;
  svg {
    height: 32px;
    width: 32px;
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 900px){
  .hamburger_button {
    display: block;
  }

  .header {
    font-size: 0;
  }
}