@import "src/index";

.container {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.message_list {
  display: flex;
  margin: 8px;
  flex-direction: column;
}