@import "../../../index";

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 999;

  > div {
    border: solid 1px transparentize($color3, 0.6);
    box-shadow: 2px 2px 0 transparentize($color3, 0.6);
    border-radius: 8px;
    padding: 20px;
    background-color: $color2;

    > h3 {
      margin-block: 24px;
      font-weight: 600;
    }

    > div {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 800px) {

}