@import "src/index";

.container {
  flex: 4;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;
  gap: 16px;
  overflow: visible;

  > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
      border: solid 1px transparentize($color3, 0.6);
      box-shadow: 2px 2px 0 transparentize($color3, 0.6);
      border-radius: 8px;
    }
  }

  > div:last-child {
    position: sticky;
    top: calc($header-height + 20px);
    //bottom: 500px;
  }
}

@media screen and (max-width: 670px) {
  .container {
    display: none;
  }
}