@import "../../index";

.post {
  display: flex;
  flex-direction: row;
  background-color: $color4;
  padding: 8px 8px;
  word-break: break-all;

  > div:nth-child(1) {
    img {
      width: 72px;
      border-radius: 100%;
    }
    padding: 8px;
    flex: 1
  }

  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 8px;
    gap: 8px;
    flex: 11;
  }
}

.post_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div > button {
    display: flex;
    padding: 0;
    border: 0;
    cursor: pointer;
    justify-content: center;
    border-radius: 100%;
    z-index: 30;

    &:hover {
      background: $color1;


      svg {
        fill: $color2
      }
    }

    svg {
      transform: scale(0.8);
      fill: $color1
    }
  }
}

.post_dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: -200px;
  margin-top: -30px;
  width: 200px;
  background: $color1;
  color: $color2;
  z-index: 0;

  > * {
    padding: 8px 12px;
    &:hover {
      background-color: $color4;
      cursor: pointer;
    }
  }
}

.content_author {
  font-size: 18px;
  font-weight: 700;
}

.content_image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}

.content_image img {
  max-width: 100%;
}

.like_section {
  display: flex;
  flex-direction: row;

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  svg {
    fill: $color1;
    transform: scale(0.7);
  }
}