body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$color0: white;
$color1: #2a140c;
$color2: #efddc7;
$color3: dimgray;
$color4: rgba(255, 128, 128, 0.25);
$color5: rgba(255,255,255, 0);