@import "../../index";

.message {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  max-width: 60%;
  margin-block: 8px;
  box-shadow: 4px 4px 2px $color3;
}

.message img {
  width: 100%;
}

.from_user {
  align-self: end;
  background-color: $color2;
}

.from_other {
  align-self: start;
  background-color: $color1;
  box-shadow: 4px 4px 2px $color3;
  color: $color0;
}
