@import "../../index";

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.user_avatar {
  img {
    margin-top: 8px;
    max-width: 54px;
    border-radius: 50%;
  }
}

.message {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  min-width: 60px;
  max-width: 60%;
  margin-block: 8px;
  box-shadow: 4px 4px 2px $color3;
}

.message img {
  width: 100%;
}

.message_data {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.message_description {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.message_time {
  font-size: 12px;
  align-self: end;
  color: $color3;
}

.user_name {
  font-weight: 700;
  font-size: 16px;
}

.from_user {
  align-self: end;
  flex-direction: row-reverse;

  .message {
    background-color: $color2;
  }
  .user_name {
    text-align: end;
  }

  .view_status {
    display: flex;
    svg {
      fill: $color3;
      margin-bottom: -8px;
      margin-right: -8px;
      transform: scale(0.6, 0.6);
    }
  }
}

.from_other {
  align-self: start;

  .message {
    color: $color0;
    background-color: $color1;
    box-shadow: 4px 4px 2px $color3;
  }

  .message_time {
    color: mix($color2, $color3);
  }

  .message_text {
    align-self: start;
  }

  .view_status {
    display: none;
  }
}
