@import "../../index";

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.user_avatar {
  img {
    margin-top: 8px;
    max-width: 54px;
    border-radius: 50%;
  }
}

.message {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  max-width: 60%;
  margin-block: 8px;
  box-shadow: 4px 4px 2px $color3;
}

.message img {
  width: 100%;
}

.from_user {
  align-self: end;
  flex-direction: row-reverse;

  .message {
    background-color: $color2;
  }
  .user_name {
    text-align: end;
  }
}

.from_other {
  align-self: start;

  .message {
    color: $color0;
    background-color: $color1;
    box-shadow: 4px 4px 2px $color3;
  }
}
