@import "src/index";

.wrapper {
  width: 75%;
  margin: auto;
}

.wrapper main {
  margin-top: $header-height;
  background-color: $color0;
  min-height: 100vh - $header-height;
  display: flex;
  justify-content: space-between;
  overflow: visible;

  > div {
    margin-left: 168px;
  }
}

@media screen and (max-width: 1000px){
  .wrapper {
    min-width: 100%;
    max-height: 80%;
    margin: auto;
  }

  .wrapper main {
    > div {
      margin-left: 0;
    }
  }
}