@import "src/index";

.wrapper {
  max-width: 70%;
  margin: auto;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.wrapper main {
  background-color: $color2;
  min-height: 100vh - $header-height;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px){
  .wrapper {
    min-width: 100%;
    margin: auto;
  }
}