@import "src/index";

.container {
  display: flex;
  flex-direction: row;
  padding: 16px 4px;
  border-bottom: $color1 solid 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

.active .container{
  border-left: $color3 8px solid;
  background: $color4;
  color: $color1;
}

.container:hover {
  background-color: $color4;
  cursor: pointer;
}

.dialog_info {
  flex: 1;
}

.member {
  font-size: 18px;
  font-weight: 700;
}

.username {
  font-size: 14px;
  color: dimgray;
}

.message_text {
  font-size: 12px;
  max-height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: dimgray;
}

.unchecked_messages_count {
  padding: 4px;
  margin: 4px;
  color: $color2;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 19px;
  background-color: $color3;
  border-radius: 50%;
}