@import "src/index";

.item {
  padding: 16px 4px;
  border-bottom: $color1 solid 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

.active {
  background: $color1;
}

.item:hover {
  background-color: $color4;
  cursor: pointer;
}

.username {
  font-weight: 700;
}

.message_text {
  color: dimgray;
}